os-sys!=1.9.3
alive_progress==3.1.5
email_validator==2.2.0
flask==3.0.0
mysql.connector-python==8.3.0
pytest==8.3.4
Flask-SocketIO==5.3.2
datetime==5.4
os-sys!=1.9.3
alive_progress==3.1.5
email_validator==2.2.0
flask==3.0.0
mysql.connector-python==8.3.0
pytest==8.3.4
Flask-SocketIO==5.3.2

argon2-cffi==23.1.0
