
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
*{
    font-family: "Montserrat";
}


body{
    margin:0 auto

}

header {
    display: flex;
    align-items: center;
}

header img{
    width: 100px;
}

section.top-page {
    background: url("image/fond.jpg");
    background-size: cover;
    height: 80vh;
    padding: 25px;
}
.gros-titre {
    color: rgb(247, 255, 247);
    font-size: 80px;
}

.scroll-down {
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 160px;
}

.ticket {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 400px;
    margin-left: 30px;
    font-weight: bold;
    font-size: 20px;
    color:rgb(247, 255, 247);
}

.ticket a {
    color: white; 
    text-decoration: none; 
}

.section-title{
    font-size: 50px;
    font-weight: 100;
    font-family: "Freeman";
    position: relative;
}

.section-title::before{
    content:"" ;
    position: absolute;
    background-color:#FF975A ;
    width: 125px;
    height: 7px;
    bottom: 0;
}

.img-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 0 -10px;
    
}

.img-container img{
    margin: 10px;
    width: 600px;
    height: 600px;
}



@media only screen and (max-width:500px) {
    .img-container {
      flex-direction: column;
      align-items: center;

    }
}
.img-container img{
        width: 100%;
        max-width: none;
        height: auto;
    }