<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>conction</title>
    <link rel="stylesheet" href="../static/styles/StylesconnexionUseur.css">
   </head>
<body>
    <div class="center-square">
        <h2>Connexion</h2>
        <form method="POST">
            <div class="form-group">
                <label for="username">Address e-mail</label>
                <input type="text" id="email" name="email" placeholder="Entrez votre Address e-mail">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="Entrez votre mot de passe">
            </div>
            <button type="submit">Connexion</button>
        </form>
        <div class="help-text">
            Si vous avez un problème, contactez un de vos profs.
            {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="alert mt-3">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
        </div>
    </div>
</body>
</html>
