<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GLPI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
</head>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="alert mt-3">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
<body>
    <section class="top-page">
<div class="white-band">
    <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
    <a href="connexion" class="bouton-right">connexion</a>
    <a href="add_user" class="bouton-right">nouveau utilisateur</a>
</div>
<header>
            <!-- Removed duplicate logo -->
            <section class="bouton-left">
                <a href="allticket">Ticket</a>
            </section>
            <section class="bouton-right">
                <a href="connexion">se conecter</a>
                <a href="add_user">s'inscrire</a>
            </section>
        </header>
        <div class="landing-page">
            <h1 class="gros-titre">GLPI saint-gab</h1>
        </div>
</body>
</html>