<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <h1>{{ ticket[0]['titre'] }}</h1>
    <p>{{ ticket[0]['descipition'] }}</p> <!-- Correction de 'description' en 'descipition' -->
    <h2>Commentaires</h2>
    <ul id="comments">
        {% for comment in comments %}
            <li>{{ comment[3] }} - {{ comment[2] }} {{ comment[1] }}</li>
        {% endfor %}
    </ul>
    <form id="commentForm">
        <input type="hidden" id="id_tique" name="id_tique" value="{{ ticket[0]['ID_tiqué'] }}">
        <input type="text" id="commenter" name="commenter" placeholder="Votre commentaire">
        <button type="submit">Ajouter un commentaire</button>
    </form>
    <script>
        var socket = io();
        socket.on('connect', function() {
            console.log('Connected to server');
        });

        socket.on('disconnect', function() {
            console.log('Disconnected from server');
        });

        var form = document.getElementById('commentForm');
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            var commenter = document.getElementById('commenter').value;
            var id_tique = document.getElementById('id_tique').value;
            var ID_user = "{{ request.cookies.get('ID') }}";
            console.log('Sending new comment:', { id_tique: id_tique, ID_user: ID_user, commenter: commenter });
            socket.emit('new_comment', { id_tique: id_tique, ID_user: ID_user, commenter: commenter });
            document.getElementById('commenter').value = '';
        });

        socket.on('broadcast_comment', function(data) {
            console.log('New comment broadcasted:', data);
            var commentsList = document.getElementById('comments');
            var newComment = document.createElement('li');
            newComment.textContent = data.commenter + ' - ' + new Date().toLocaleTimeString() + ' ' + new Date().toLocaleDateString();
            commentsList.appendChild(newComment);
        });
    </script>
</body>
</html>