@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Freeman&display=swap');
*{
    font-family: "Montserrat";
}

body{
    margin:0 auto
}

header {
    display: flex;
    align-items: center;
}

header img{
    width: 100px;
}

section.top-page {
    background: url("../images/fond.jpg");
    background-size: cover;
    height: 80vh;
    padding: 25px;
}
.gros-titre {
    color: rgb(247, 255, 247);
    font-size: 80px;
}

.bouton-left {
    margin-right: 30px;
    width: 700px;
    font-size: 20px;
    font-weight: bold;
}

.bouton-right {
    text-align: right;
    margin-right: 30px;
    width: 700px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.ticket a {
    color: white; 
    text-decoration: none; 
}

.section-title{
    font-size: 50px;
    font-weight: 100;
    font-family: "Freeman";
    position: relative;
}

.section-title::before{
    content:"" ;
    position: absolute;
    background-color:#FF975A ;
    width: 125px;
    height: 7px;
    bottom: 0;
}

@media only screen and (max-width:500px) {
    .img-container {
      flex-direction: column;
      align-items: center;
    }
}
/* Updated styles for the white band */
.white-band {
    background-color: white;
    height: 70px; 
    display: flex;
    align-items: center;
    justify-content: space-between; /* Space out logo and buttons */
    margin: 0; /* Remove margins */
    width: 100%; /* Set width to 100% */
    position: absolute; /* Position it absolutely */
    top: 0; /* Align to the top */
    left: 0; /* Align to the left */
}

.white-band img {
    height: 100%;
}
.rectangles-container {
    display: flex;
    justify-content: space-around;
    margin-top: 38%;
}

.rectangle {
    width: 17%;
    height: 800%;
    background-color: white
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 280%;
}


.rectangle {
    width: 17%;
    height: 800%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 280%;
    flex-direction: column; /* Add this line */
    text-align: center; /* Add this line */
    box-shadow: 10px 10px 10px black;
    border-radius: 10px;
    box-shadow: 6px 6px 25px rgba(0, 0, 0, 0.5);
}


.rectangle h6 {
    margin: 0; /* Remove default margin *//
    font-size: 20%; /* Adjust the font size as needed *//
}