@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

body {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, #d9c7c7, #dcdcdc);
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-square {
    width: 500px;
    padding: 30px;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 150px;
    text-align: left;
    margin-right: 20px;
}

.form-group input {
    flex: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

.help-text {
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.alert {
    font-size: 14px;
    margin-top: 10px;
}

.alert-error {
    color: red;
}

.alert-success {
    color: rgb(0, 255, 128);
}

.alert-warning {
    color: rgb(255, 255, 0);
}